:root {
    font-family: Arial, sans-serif;
    --accent-color: #2563eb;
    --accent-color-light: #3b82f6;
    /* card */
    --background-color: #f8fafc;
    --card-border-color: #e2e8f0;
    --card-bg-color: #ffffff;
    /* input */
    --input-border-color: #cbd5e1;
    --input-border-focus-color: #2563eb;
}

body {
    background-color: var(--background-color);
}

.input-field {
    height: 2em;
    position: relative;
    width: 50px;
    border: 0;
    outline: 1px solid var(--input-border-color);
    margin: 2px;
    border-radius: 2px;
    background-color: transparent;
}

.input-field:focus {
    outline: 2px solid var(--input-border-focus-color);
}

.red-border,
.red-border:focus {
    border: 2px solid var(--accent-color);
}

p {
    margin: 8px;
}

.content {
    text-align: center;
}

hr {
    height: 1px;
    margin: 50px 50px 50px 50px;
    border: none;
    border-top: 1px solid var(--card-border-color);
}

.text {
    text-align: left;
    margin-top: 50px;
}

.footer-text {
    margin-bottom: 80px;
}

pre {
    font-family: inherit;
}

.gpa {
    font-size: x-large;
    margin: 30px 10px 20px 0px;
}

.cards-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 2px solid var(--card-border-color);
}

td {
    width: 2000px;
}

td:first-child,
th:first-child {
    text-align: left;
}

#semester_h {
    display: flex;
    align-self: flex-start;
    padding-bottom: 20px;
}

.card {
    width: 400px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg-color);
}

#gpa_card {
    align-items: start;
}

#autofill_card {
    background-color: #1e293b;
    cursor: pointer;
    color: #ffffff;
}

#autofill-text {
    font-size: x-large;
    margin: 30px 10px 20px 0px;
}

@media (max-width: 400px) {
    .cards-container {
        width: auto;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0f172a;
        --card-border-color: #1e293b;
        --card-bg-color: #1e293b;
        color: #f1f5f9;
        /* input */
        --input-border-color: #334155;
        --input-border-focus-color: #3b82f6;
    }

    .input-field {
        color: #f1f5f9;
    }

    #autofill_card {
        background-color: #334155;
        color: #ffffff;
    }
}
