:root {
    --accent-color: blueviolet;
    --accent-color-light: rgb(173, 115, 228);
    font-family: Arial, sans-serif;
}

.input-field {
    height: 2em;
    outline-style: none;
    position: relative;
    width: 50px;
}

.input-field:focus {
    border: 2px solid var(--accent-color);
}

.red-border,
.red-border:focus {
    border: 2px solid red;
}

p {
    margin: 8px;
}

.content {
    text-align: center;
}

body {
    background-color: #fbfbfb;
}

hr {
    height: 1px;
    margin: 50px 50px 50px 50px;
    border: none;
    border-top: 1px solid lightgray;
}

.text {
    text-align: left;
    margin-top: 50px;
}

.footer-text {
    margin-bottom: 80px;
}

pre {
    font-family: inherit;
}

.gpa {
    font-size: x-large;
    margin: 30px 10px 20px 0px;
}

.cards-container {
    width: 100%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid black;
    border-width: 2px;
}

td {
    width: 2000px;
}

td:first-child,
th:first-child {
    text-align: left;
}

#semester_h {
    display: flex;
    align-self: flex-start;
    padding-bottom: 20px;
}

.card {
    width: 400px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gpa_card {
    align-items: start;
}

#null_card {
    width: 500px;
    height: 1px;
}

@media (max-width: 400px) {
    .cards-container {
        width: auto;
    }
}
